body {
    position: absolute;
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    height: 100%;
    width: 100%;
    
    padding: 0;
    border: 0;
    margin: 0;
    
    background-color: #ddd;
    
    display: flex;
    flex-flow: column nowrap;
}

/*div {
    outline: 1px solid black;
}*/

#header {
    order: 1;
    flex: 0 0 auto;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

#content {
    order: 2;
    flex: 0 0 auto;
    
    width: 800px;
    height: 400px;
    margin: auto;
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#user {
    order: 1;
    flex: 0 0 auto;
    
    display: flex;
    flex-flow: row nowrap;
}

.header-item {
    order: 1;
    flex: 0 0 auto;
    
    width: 50px;
    
    text-align: center;
}

#company {
    order: 1;
    flex: 1;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
}

#search {
    order: 2;
    flex: 1;
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

#logo {
    order: 1;
    flex: 0 0 175px;
    
    padding: 0 20px 10px 20px;
}

#catch-phrase {
    order: 2;
    flex: 0 0 auto;

    padding: 20px;
    padding-bottom: 0;

	font-family: 'channelregular';
	font-weight: bold;
	font-size: 18px;
	color: #444444;
}

#box {
    order: 1;
    flex: 0 0 auto;
    
    width: 600px;
    height: 40px;
    
    margin-top: 10px;

    border: 1px solid black;
    border-radius: 10px;
    
    background-color: #fff;
}


#logo img {
    width: 100%;
    height: auto;
}