body {
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;
    width: 100%;

    padding: 0;
    border: 0;
    margin: 0;

    background-color: #eee;

    display: flex;
    flex-flow: column nowrap;
}

/*div {
    outline: 1px solid black;
}*/

#header {
    order: 1;
    flex: 0 0 auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

#content {
    order: 2;
    flex: 0 0 auto;

    width: 1100px;
    min-height: 90%;

    margin: auto;

    border-top: 2px solid #ddd;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#user {
    order: 1;
    flex: 0 0 auto;

    display: flex;
    flex-flow: row nowrap;
}

.header-item {
    order: 1;
    flex: 0 0 auto;

    width: 50px;

    text-align: center;
}

#filters {
    order: 1;
    flex: 1;

    min-width: 100px;

    padding: 25px 25px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

#list {
    order: 2;
    flex: 0 0 70%;

    padding: 25px 50px;

    border-left: 2px solid #ddd;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.filter {
    order: 1;
    flex: 0 0 100px;

    min-width: 200px;
    height: 200px;

    margin-bottom: 20px;

    text-align: center;
}

.hotel {
    order: 1;
    flex: 0 0 auto;

    min-width: 500px;
    height: 260px;

    margin-bottom: 20px;

    background-color: #fff;

    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.75);

    display: flex;
    flex-flow: column nowrap;
}

.hotel:last-child {
    margin-bottom: 0;
}

.hotel-info {
    order: 1;
    flex: 1;

    display: flex;
    flex-flow: row nowrap;
}

.scrollable-area {
  order: 2;
  flex: 1;

  overflow-y: scroll;

  background-color: #fff;
  background-image: linear-gradient(#eed .1em, transparent .1em);
  background-size: 100% 1.2em;

  text-align: center;
}

.scrollable-area ul {
  padding: 0px;
}

.scrollable-area li {
  padding: 10px 0;
  list-style-type: none;
  font-size: 17px;
}

.scrollable-area li:last-child {
  font-size: 14px;
}

.hotel-picture {
    order: 1;
    flex: 0 0 200px;

    overflow: hidden;
}

.hotel-detail {
    order: 2;
    flex: 1;

    background-color: #fee;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}

.hotel-name {
    order: 1;
    flex: 0 0 auto;

    padding: 5px 0;

    text-align: center;
    font-size: 20px;
}

.hotel-fields {
    order: 2;
    flex: 1;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

.hotel-data {
  order: 3;
  flex: 0 0 auto;

  padding: 5px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.hotel-field {
    order: 1;
    flex: 1;

    min-width: 175px;

    padding: 5px;

    text-align: center;
}

.hotel-review {
  order: 1;
  flex: 0 0 auto;
}

.hotel-match {
  order: 2;
  flex: 0 0 auto;
}

a {
  color: black;
  text-decoration: none !important;
}

img {
    width: 100%;
    height: auto;
}

#user img {
    width: 50%;
    height: auto;
}
